@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DashboardViewModel;
@{
    
}


<div class="card" style="width:300px; min-height:400px; display:inline-block; margin:5px; align-items:center">

    <div style="width:100%; height:100%; display:flex; justify-content:center; flex-direction: column; align-items:center">
        <strong style="text-align:center">Platforms</strong>
        <p style="text-align:center">Connected Platforms:</p>

        <button class="page-link" style="height:50px; width:200px; border-radius:10px; display:flex; justify-content:center; align-items:center; margin:0 auto">TikTok</button>


        <br />

      

        <p style="text-align:center">Platforms to connect:</p>

        <button class="page-link" style="height:50px; width:200px; border-radius:10px; display:flex; justify-content:center; align-items:center; margin:0 auto">Youtube</button>
        <button class="page-link" style="height:50px; width:200px; border-radius:10px; display:flex; justify-content:center; align-items:center; margin:0 auto">Instagram</button>

    </div>
</div>

<div class="card" style="width:300px; min-height:400px; display:inline-block; margin:5px; align-items:center">

    <div style="width:100%; height:100%; display:flex; justify-content:center; flex-direction: column; align-items:center">
        <strong style="text-align:center">Views</strong>
        <p style="text-align:center">Connected Platforms:</p>

        <br />

        <hr>

        <p style="text-align:center">Platforms to connect:</p>

        <button class="page-link" style="height:50px; width:200px; border-radius:10px; display:flex; justify-content:center; align-items:center; margin:0 auto">TikTok</button>
        <button class="page-link" style="height:50px; width:200px; border-radius:10px; display:flex; justify-content:center; align-items:center; margin:0 auto">Youtube</button>
        <button class="page-link" style="height:50px; width:200px; border-radius:10px; display:flex; justify-content:center; align-items:center; margin:0 auto">Instagram</button>

    </div>
</div>

<div class="card" style="width:300px; min-height:400px; display:inline-block; margin:5px; align-items:center">

    <div style="width:100%; height:100%; display:flex; justify-content:center; flex-direction: column; align-items:center">
        <strong style="text-align:center">Calculated Revenue</strong>
        <p style="text-align:center">Connected Platforms:</p>

        <br />

        <hr>

        <p style="text-align:center">Platforms to connect:</p>

        <button class="page-link" style="height:50px; width:200px; border-radius:10px; display:flex; justify-content:center; align-items:center; margin:0 auto">TikTok</button>
        <button class="page-link" style="height:50px; width:200px; border-radius:10px; display:flex; justify-content:center; align-items:center; margin:0 auto">Youtube</button>
        <button class="page-link" style="height:50px; width:200px; border-radius:10px; display:flex; justify-content:center; align-items:center; margin:0 auto">Instagram</button>

    </div>
</div>

<div class="card" style="width:300px; min-height:400px; display:inline-block; margin:5px; align-items:center">

    <div style="width:100%; height:100%; display:flex; justify-content:center; flex-direction: column; align-items:center">
        <strong style="text-align:center"> Logs</strong>
        <p style="text-align:center">Connected Platforms:</p>

        <br />

        <hr>

        <p style="text-align:center">Platforms to connect:</p>

        <button class="page-link" style="height:50px; width:200px; border-radius:10px; display:flex; justify-content:center; align-items:center; margin:0 auto">TikTok</button>
        <button class="page-link" style="height:50px; width:200px; border-radius:10px; display:flex; justify-content:center; align-items:center; margin:0 auto">Youtube</button>
        <button class="page-link" style="height:50px; width:200px; border-radius:10px; display:flex; justify-content:center; align-items:center; margin:0 auto">Instagram</button>

    </div>
</div>

<div class="card" style="width:300px; min-height:400px; display:inline-block; margin:5px; align-items:center">

    <div style="width:100%; height:100%; display:flex; justify-content:center; flex-direction: column; align-items:center">
        <strong style="text-align:center"> Tasks Running</strong>
        <p style="text-align:center">Connected Platforms:</p>

        <br />

        <hr>

        <p style="text-align:center">Platforms to connect:</p>

        <button class="page-link" style="height:50px; width:200px; border-radius:10px; display:flex; justify-content:center; align-items:center; margin:0 auto">TikTok</button>
        <button class="page-link" style="height:50px; width:200px; border-radius:10px; display:flex; justify-content:center; align-items:center; margin:0 auto">Youtube</button>
        <button class="page-link" style="height:50px; width:200px; border-radius:10px; display:flex; justify-content:center; align-items:center; margin:0 auto">Instagram</button>

    </div>
</div>