@using ContentMagican.Repositories
@inject StripeRepository stripeRepository;

<div class="container mt-4">
    <div class="text-center mb-4">
        <strong class="h2">Plans</strong>
    </div>

    <div class="row">
        <!-- Free Plan Card -->
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100 text-center p-3">
                <strong class="mb-2">Free</strong>
                <p>Content creations/day: 1</p>
                <p>Active task limit: 1</p>
                <p>Resource priority: Low</p>
                <div class="d-flex justify-content-center align-items-center" style="min-height:100px;">
                    <a class="btn btn-outline-primary w-75 mt-3">Get Started</a>
                </div>
                <small class="text-muted">Requires account activation</small>
            </div>
        </div>

        @foreach (var product in await stripeRepository.GetAllProducts(Context))
        {
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                <div class="card h-100 text-center p-3">
                    <strong class="mb-2">@product.Name</strong>
                    <p>Content creations/day: 1</p>
                    <p>Active task limit: 1</p>
                    <p>Resource priority: Low</p>
                    <div class="d-flex justify-content-center align-items-center" style="min-height:100px;">
                        <a href="@product.Url" class="btn btn-outline-primary w-75 mt-3">Get Started</a>
                    </div>
                </div>
            </div>
        }
      
    </div>
</div>
