@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PlanViewModel
@{
}

 <div style="align-items:center; padding-top:30px">
    <div class="card" style="width:300px; height:400px; display:inline-block; margin-left:1vw; align-items:center">

        <div style="width:100%; height:100%; display:flex; justify-content:center; flex-direction: column; align-items:center">
            <strong style="text-align:center">Free</strong>
            <p style="text-align:center">content creations/day: 1</p>
            <p style ="text-align:center">active task-limit: 1</p>
            <p style="text-align:center">resource priority: low</p>

            <div class="page-link" style="height:50px; width:200px; border-radius:10px; display:flex; justify-content:center; align-items:center; margin:0 auto" >Free Forever</div>
        </div>
    </div>
    <div class="card" style="width:300px; height:400px; display:inline-block; margin-left:1vw; align-items:center">

        <div style="width:100%; height:100%; display:flex; justify-content:center; flex-direction: column; align-items:center">
            <strong style="text-align:center">Starter</strong>
            <p style="text-align:center">content creations/day: 5</p>
            <p style="text-align:center">active task-limit: 3</p>
            <p style="text-align:center">resource priority: high</p>

            <button class="page-link" style="height:50px; width:200px; border-radius:10px; display:flex; justify-content:center; align-items:center; margin:0 auto;">29$/month</button>
        </div>
    </div>
    <div class="card" style="width:300px; height:400px; display:inline-block; margin-left:1vw; align-items:center">

        <div style="width:100%; height:100%; display:flex; justify-content:center; flex-direction: column; align-items:center">
            <strong style="text-align:center">Pro</strong>
            <p style="text-align:center">content creations/day: 20</p>
            <p style="text-align:center">active task-limit: unlimited</p>
            <p style="text-align:center">resource priority: realtime</p>

            <button class="page-link" style="height:50px; width:200px; border-radius:10px; display:flex; justify-content:center; align-items:center; margin:0 auto">39$/month</button>
        </div>
    </div>
</div>

